* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.main-carousel {
    margin: auto;
}

.button {
    top: 10px;
    left: 10px;
    position: absolute;
    z-index: 100;
}

.carousel-cell {
    display: flex;
    width: 100%;
    max-height: 50vh;
    min-height: 250px;
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center;
    div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        left: 50%;
    }
    h2,
    p {
        color: rgb(255, 255, 255);
        font-size: 40px;
        font-weight: bold;
    }
    img {
        position: relative;
        width: 100%;
    }
}

.carousel-cell p {
    font-size: 70px;
    font-weight: bold;
    color: #fff;
}

.flickity-page-dots {
    display: none;
}

.progress-bar {
    height: 20px;
    width: 0;
    background: #333;
}

#map {
    height: 50vw;
    width: 100%;
}

//.hash-links {
//    display: none;
//}